<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" 	rel="stylesheet">
	<link rel='stylesheet' href='/app.css'>
</head>

<body>
	<div class='flex-container'>
	<div class='container'>
	
	<h1>Interested In Learning More? Join Our <strong><%=count%></strong> Members Now.</h1>
 
	<p class="lead">Enter your email address below to join our mailing group. Joining allows you to receive all future updates about offers, promotions, plus much more.</p>
 
	<form method="POST" action='/register'>
 		<input type="text" name = 'email' class="form" placeholder="Enter Your Email">
 		<button>Join Now</button>
	</form>
	</div>
	</div>
</body>